
body {
  padding: 10px;
}

.add-panel {
  margin: 10px 0 15px 0;
}

.gwt-Button-remove {
  width: 50px;
}

.watch-list {
  border: 1px solid silver;
  margin-bottom: 6px;
  padding: 2px;
}

.watch-list-numeric-column {
  text-align: right;
  width: 8em;
}

.watch-list-header {
  background-color: #2062b8;
  color: white;
  font-style: italic;
}

.watch-list-remove-column {
  text-align: center;
}

.change-none {
    color: black;
}

.change-positive {
    color: green;
}

.change-negative {
    color: red;
}

.error-message {
    color: red;
}
